{% load static %}

<link href="{% static 'css/navbar.css' %}"  rel="stylesheet">

<div>
    <header class = "cabecera"> 

        <nav class = "barra navbar">

            <a href="/" class="navbar-brand">
                <img class = "imagen" src = "{% static 'assets/Logo.png' %}">
                <h1 class = "titulo"  >Sabor Loco</h1>
            </a>

            <ul class = "lista">    
                <li><a class = "a" href="/menu">Menú</a></li>
                <li><a class = "a" href="/categorias">Categorías</a></li>
                <li><a class = "a" href="/pedidos">Tus Pedidos</a></li>
                <li><a class = "a" href="/contactanos">Contacto</a></li>
                <li>
                    <span id="perfil">
                        <a class = "boton" href="/perfil">Perfil</a>
                    </span>
                    <span id="admin">
                        <a class = "boton" href="/administrador">Admin</a>
                    </span>
                    <span id="login">
                        <a class = "a" href="/login">Login</a>
                    </span>
                </li>
            </ul>
        </nav>
    </header>

    <script>

        var login_nav = document.getElementById("login")
        var perfil = document.getElementById("perfil")
        var admin = document.getElementById("admin")
        
        var usuario = JSON.parse(localStorage.getItem("usuario"));

        if (localStorage.getItem("login") && JSON.parse(localStorage.getItem("login"))) {
            // El valor de "login" existe y es "true"
            if (usuario.rol !== "Administrador"){
                perfil.style.display = "block";
                login_nav.style.display = "none";
                admin.style.display = "none";
            } else if (usuario.rol === "Administrador") {
                perfil.style.display = "none";  
                login_nav.style.display = "none";
                admin.style.display = "block";
            }
        } else {
            login_nav.style.display = "block";
            perfil.style.display = "none";
            admin.style.display = "none";
        }

    </script>

</div>