<head>
    {# Cargamos la librería #} {% load bootstrap4 %} 
    {# CSS Bootstrap #} {% bootstrap_css %} 
    {# Widget Tweaks #} {% load widget_tweaks %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/categorias.css' %}">
    <title>Sabor Loco</title>
    <link rel="shortcut icon" href="{% static 'assets/Logo.png' %}">
    {# Archivos #} {% load static %}
    <!-- STATIC_URL -->
</head>
<body>
    <div class = "contenedor">
        {% include 'components/navbar/navbar.html' %}
        
        <h1 class = "titular text-center mt-4">Categorías</h1>

        <div class = "contenedor-todo">
            <!--Llamamos al navbar-->

        
            <div class = "container-cards">
                <a href="salchipapas">
                    <div class="card" style="--i:url({% static 'assets/salchipapa.png' %})">
                        <div class="content">
                            <h2>Salchipapa</h2>
                        </div>
                    </div>
                </a>
            
                <a href="hamburguesas">
                    <div class="card" style="--i:url({% static 'assets/hamburguesa.png' %})">
                        <div class="content">
                            <h2>Hamburguesa</h2>
                        </div>
                    </div>
                </a>
            
                <a href="perros">
                    <div class="card" style="--i:url({% static 'assets/perros.png' %})">
                        <div class="content">
                            <h2>Perros</h2>
                        </div>
                    </div>
                </a>

                <a href="fritangas">
                    <div class="card" style="--i:url({% static 'assets/fritanga.png' %})">
                        <div class="content">
                            <h2>Fritanga</h2>
                        </div>
                    </div>
                </a>

                <a href="bebidas">
                    <div class="card" style="--i:url({% static 'assets/bebidas.png' %})">
                        <div class="content">
                            <h2>Bebidas</h2>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <!--Llamamos al footer-->
        {% include 'components/footer/footer.html' %}
    </div>

</body>
