{% load static %}
<link href="{% static 'css/footer.css' %}"  rel="stylesheet">

<footer>
  <div class="container">
    
    <div class="col-iz">
      <h3>Sabor Loco</h3>
      <p>Deléitate con nuestros sabores únicos</p>
      <ul>
        <li>Dirección: Calle 123, Cali</li>
        <li>Teléfono: (123) 456-7890</li>
        <li>Email: info@saborloco.com</li>
      </ul>
    </div>

    <div class = "git">
      <ul>
        <li><a href="https://github.com/juanpablotr14"><img src="{% static 'assets/github.png' %}"> Juan Pablo Tascón</a></li>
        <li><a href="https://github.com/SebasDosman"><img src="{% static 'assets/github.png' %}"> Juan Sebastián Dosman</a></li>
        <li><a href="https://github.com/Jurgen212"><img src="{% static 'assets/github.png' %}"> Jurgen Adolfo Sanclemente</a></li>
        <li><a href=""><img src="{% static 'assets/github.png' %}"> Andrés Mauricio Bonilla</a></li>
      </ul>
    </div>

    <div class="col-der">
      <h3>Horario</h3>
      <p>Lun - Vie: 5:00 AM - 10:00 PM</p>
      <p>Sáb - Dom: 1:00 PM - 12:00 PM</p>
    </div>
    
  </div>
</footer>