@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.contenedor{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
    justify-content: center;
}

.titular{
    text-align: center;
    color: #333;
    margin-top: 30px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    margin: 40px 20px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
}
  
.menu-section {
    width: 25%;
    padding: 30px;
    border: 1px solid #ccc;
}
  
.menu-section h2 {
    font-size: 32px;
    font-weight: 550;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
  
.menu-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu-section li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
  
.menu-section:first-child {
    border-top-left-radius: 20px;
}

.menu-section:last-child {
    border-bottom-left-radius: 20px;
}

.menu-section:nth-last-child(2) {
    border-top-right-radius: 20px;
}

.menu-section fritangas{
    border-top-right-radius: 20px;
}

.menu-section li:last-child {
    border-bottom: none;
}
  
.menu-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}
  
.menu-section p {
    margin-bottom: 10px;
    font-size: 14px;
}
  
.menu-section p.price {
    font-weight: bold;
}
  