@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.contenedor{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titular{
    text-align: center;
    color: #333;
    margin-top: 30px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    margin: 40px 20px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
  
.menu-section {
    margin: 25px;
    width: 500px;
    min-height: 500px;
    padding: 30px;

    background-color: #f3f7f8;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
  
.menu-section h2 {
    font-size: 45px;
    font-weight: 850;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
  
.menu-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu-section li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
}

.sub_item_contain > h3{
    font-size: 25px !important;
}

.sub_item_contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sub_item_contain2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3px;
    justify-content: space-between;
}

.img-alimento{
    max-width: 40%;
}

.menu-section:first-child {
    border-top-left-radius: 20px;
}

.menu-section:last-child {
    border-bottom-left-radius: 20px;
}

.menu-section:nth-last-child(2) {
    border-top-right-radius: 20px;
}

.menu-section fritangas{
    border-top-right-radius: 20px;
}

.menu-section li:last-child {
    border-bottom: none;
}
  
.menu-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}
  
.menu-section p {
    margin-bottom: 10px;
    font-size: 14px;
}
  
.menu-section p.price {
    font-weight: bold;
}