@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.contenedor{
    width: 100%;
    align-items: center;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

form{
    width: 40%;
    border-radius: 12px;
    margin: 50px auto;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

form .botones{
    display: flex;
    margin-top: 30px;
    margin-left: 30%;
}

.botones button{
	background-color: #ff8c00;
	color: #FFF;
	padding: 10px 20px;
	border-radius: 4px;
    border: none;
	text-decoration: none;
}

.botones button:hover {
	background-color: #FFA500;
}

.botones a{
	background-color: #ff8c00;
	color: #FFF;
	padding: 10px 20px;
	border-radius: 4px;
    border: none;
	text-decoration: none;
}

.botones a:hover {
	background-color: #FFA500;
}