<head>
    {# Cargamos la librería #} {% load bootstrap4 %} 
    {# CSS Bootstrap #} {% bootstrap_css %} 
    {# Widget Tweaks #} {% load widget_tweaks %} 
    {# Archivos #} {% load static %}
    <link href="{% static 'css/cruds.css' %}"  rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/Logo.png' %}">
    <title>Sabor Loco</title>
    <script>
        var usuario = JSON.parse(localStorage.getItem("usuario"));

        if (!usuario) {
            window.location.href = '/'
        } else if (usuario.rol !== "Administrador") {
            window.location.href = '/'
        }
    </script>
    <!-- STATIC_URL -->
</head>
  
<body class="text-center justify-content-center">
    <!-- Al final del body -->
    {# JS y jQuery Bootstrap #} 
    {% bootstrap_javascript jquery='full' %}
    
    <!--Llamamos al navabar-->
    {% include 'components/navbar/navbar.html' %}

    <form method="post" enctype="multipart/form-data">
        <!-- Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro -->
        {% csrf_token %}

        <div class="form-group">
            <label for="num_identificacion" class="txt_negrita">No. Identificación:</label>
            {{ form.num_identificacion|add_class:"form-control"|attr:"type:number" }}
            <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
        </div>

        <div class="form-group">
            <label for="tipo_documento" class="txt_negrita">Tipo documento:</label>

            <select name="{{ form.tipo_documento.name }}" id="{{ form.tipo_documento.id }}" class = "form-control">
                <option value="Cedula">Cédula</option>
                <option value="T. Identidad">T. Identidad</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="nombre" class="txt_negrita">Nombre:</label>
            {{ form.nombre|add_class:"form-control"|attr:"type:text" }}
        </div>

        <div class="form-group">
            <label for="apellido" class="txt_negrita">Apellido:</label>
            {{ form.apellido|add_class:"form-control"|attr:"type:text"}}
        </div>


        <div class="form-group">
            <label for="correo" class="txt_negrita">Correo</label>
            {{ form.correo |add_class:"form-control"|attr:"type:email" |attr:"id:mail_field"}}
        </div>


        <div class="form-group">

            <label for="rol" class="txt_negrita">Rol:</label>
            <select name="{{ form.rol.name }}" id="{{ form.rol.id }}" class = "form-control">
                <option value="Cliente">Cliente</option>
                <option value="Administrador">Administrador</option>
            </select>
        </div>

        <div class="form-group">
            <label for="direccion" class="txt_negrita">Dirección:</label>
            {{ form.direccion|add_class:"form-control"}}
        </div>

        <div class="form-group">
            <label for="telefono" class="txt_negrita">Teléfono:</label>
            {{ form.telefono|add_class:"form-control"|attr:"type:number"}}
        </div>

        <div class="form-group">
            <label for="fecha_nacimiento" class="txt_negrita">Fecha de nacimiento:</label>
            {{ form.fecha_nacimiento|add_class:"form-control"|attr:"type:date"}}
        </div>


        <div class="form-group">
            <label for="correo" class="txt_negrita">Correo:</label>
            {{ form.correo|add_class:"form-control"|attr:"type:email"}}
        </div>
        <div class = "botones">
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="./" type="submit" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

    <!--Llamamos al footer-->
    {% include 'components/footer/footer.html' %}

    <script type="text/javascript">
    
        


        function eliminar() {

        var x = confirm("Eliminar usuario?");
        if (x)
            return true;
        else
            return false;
        }
    </script>
</body>
