<head>
  {# Cargamos la librería #} {% load bootstrap4 %} 
  {# CSS Bootstrap #} {% bootstrap_css %} 
  {# Widget Tweaks #} {% load widget_tweaks %} 
  {# Archivos #} {% load static %}
  <title>Sabor Loco</title>
  <link href="{% static 'css/cruds.css' %}"  rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'assets/Logo.png' %}">
  <script>
    var usuario = JSON.parse(localStorage.getItem("usuario"));

    if (!usuario) {
        window.location.href = '/'
    } else if (usuario.rol !== "Administrador") {
        window.location.href = '/'
    }
</script>
  <!-- STATIC_URL -->
</head>

<body class="text-center justify-content-center">
  <!-- Al final del body -->
  {# JS y jQuery Bootstrap #} {% bootstrap_javascript jquery='full' %}
  {% include 'components/navbar/navbar.html' %}

  <form method="post" enctype="multipart/form-data">
    <!-- Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro -->
    {% csrf_token %}

    <!-- {{ form.as_p }} -->
    <div class="form-group">
      <label for="id_producto" class="txt_negrita">Id producto</label>
      {{ form.id_producto|add_class:"form-control"|attr:"type:number"}}
      <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>

    <div class="form-group">
      <label for="nombre_prod" class="txt_negrita">Nombre producto</label>
      {{ form.nombre_prod|add_class:"form-control"|attr:"type:texto"}}
      <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>

    <div class="form-group">
      <label for="descripcion" class="txt_negrita">Descripción</label>
      {{ form.descripcion|add_class:"form-control"|attr:"type:text"}}
      <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>

    <div class="form-group">
      <label for="imagen" class="txt_negrita">Imagen</label>
      {{ form.imagen|add_class:"form-control mb-3"}}
    </div>

    <div class="form-group">
      <label for="categoria" class="txt_negrita">Categoría</label>
      <!-- Usamos el widget Select para limitar las opciones a las mencionadas -->
      <select name="{{ form.categoria.name }}" id="{{ form.categoria.id }}" class = "form-control">
        <option value="Bebidas">Bebidas</option>
        <option value="Hamburguesas">Hamburguesas</option>
        <option value="Perros">Perros</option>
        <option value="Fritanga">Fritanga</option>
        <option value="Salchipapas">Salchipapas</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cantidad" class="txt_negrita">Cantidad</label>
      {{ form.cantidad|add_class:"form-control"|attr:"type:number"}}
      <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>

    <div class="form-group">
      <label for="precio" class="txt_negrita">Precio</label>
      {{ form.precio|add_class:"form-control"|attr:"type:number"|attr:"id:id_precio"}}
      <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>
    
    <div class="form-group">
      <label for="id_descuento" class="txt_negrita">Id descuento</label>
      {{ form.id_descuento|add_class:"form-control"|attr:"type:number"|attr:"id:id_descuento"}}
      <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
    </div>

    <div class = "botones">
      <button type="submit" class="btn btn-primary">Aceptar</button>
      <a href="./" type="submit" class="btn btn-primary">Cancelar</a>
    </div>
  </form>

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("Eliminar producto?");
      if (x)
        return true;
      else
        return false;
    }

    $(document).ready(function() {
      $('#id_descuento').change(function() {
        var descuentoId = $(this).val();
  
        // Realizar una solicitud AJAX al servidor para obtener el descuento
        $.ajax({
          url: '/ruta/para/obtener/descuento/' + descuentoId,  // Reemplaza '/ruta/para/obtener/descuento/' con la ruta adecuada en tu servidor
          method: 'GET',
          success: function(response) {
            // Actualizar el campo de precio con el descuento aplicado
            var precio = parseFloat($('#id_precio').val());
            var descuento = parseFloat(response.descuento);
            var precioConDescuento = precio - descuento;
            $('#id_precio').val(precioConDescuento.toFixed(2));
          },
          error: function(xhr, textStatus, errorThrown) {
            console.log('Error:', errorThrown);
          }
        });
      });
    });
  </script>
</body>
